@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'mixins';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --detail-color: #6096e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
}

ul {
  list-style: none;
}

img {
  height: 200px;
}

.btn {
  color: var(--light-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  outline: none;
}

@media (max-width: 991px) {
  img {
    height: 150px;
  }
}
