@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'mixins';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --detail-color: #6096e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: 200px;
}

//hr {
//  margin-top: 2px;
//}

.btn {
  color: var(--light-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  outline: none;
}


// iphone filters-catalog, mac-catalog, apple-watch-catalog
//.options {
//  display: flex;
//  justify-content: flex-end;
//  margin-bottom: 50px;
//}

//.menu {
//  display: flex;
//
//  &__item {
//    margin: 0 2rem;
//    position: relative;
//
//    &:hover .dropdown {
//      display: block;
//    }
//
//    .dropdown {
//      padding-top: 5px;
//      width: 90px;
//      display: none;
//      position: absolute;
//      background-color: #f3f3f3;
//
//      &__menu {
//        display: flex;
//        flex-direction: column;
//
//        .dropdown__item {
//          cursor: pointer;
//          padding: 2px;
//          font-size: 13px;
//
//          &:hover {
//            color: var(--detail-color);
//          }
//        }
//      }
//    }
//  }
//}

//.main {
//  max-width: 1140px;
//  display: flex;
//}

//.filters {
//  width: 23%;
//  height: 100%;
//  background-color: var(--light-color);
//  padding: 20px;
//}

//.filter {
//  margin-bottom: 20px;
//
//  &__title {
//    font-size: 20px;
//    margin-bottom: 15px;
//    font-weight: bold;
//  }
//
//  &__element {
//    margin-bottom: 10px;
//  }
//
//  &__label {
//    cursor: pointer;
//  }
//
//  &__name {
//    margin-left: 5px;
//  }
//
//  &:last-child {
//    margin-bottom: 0;
//  }
//}

//input[type='checkbox'] {
//  visibility: hidden;
//  position: absolute;
//}

//.catalog {
//  width: 75%;
//  height: 100%;
//  margin-left: auto;
//  display: flex;
//  flex-wrap: wrap;
//
//  &__item {
//    display: flex;
//    flex-direction: column;
//    width: 31%;
//    background-color: var(--light-color);
//    text-align: center;
//    padding: 0 20px 20px;
//    cursor: pointer;
//    transition: box-shadow .2s;
//    margin-bottom: 20px;
//    margin-left: 2.3%;
//
//    &:hover {
//      box-shadow: 0 0 15px -5px rgba(0,0,0,0.75);
//    }
//  }
//
//  &__pagination {
//    width: 100%;
//    text-align: center;
//  }
//
//  &__empty {
//    display: inline-block;
//    margin: 0 auto;
//  }
//}

//.item__photo {
//  display: flex;
//  justify-content: center;
//  margin-top: 5px;
//  margin-bottom: 20px;
//}
//
//.item__title {
//  height: auto;
//  width: 80%;
//  margin: 0 auto auto;
//}
//
//.item__price {
//  margin: 10px 0;
//}

//input[type='checkbox'] ~ .fa-square {
//  display: inline-block;
//}
//
//input[type='checkbox']:checked ~ .fa-square {
//  display: none;
//}
//
//input[type='checkbox'] ~ .fa-check-square {
//  display: none;
//}
//
//input[type='checkbox']:checked ~ .fa-check-square {
//  display: inline-block;
//  color: var(--detail-color);
//}
//
//input[type='checkbox']:checked ~ .filter__name {
//  color: var(--detail-color);
//}

//@media (max-width: 991px) {
//  img {
//    height: 150px;
//  }
//}
//
//@media (max-width: 767px) {
//  .filters {
//    width: 33%;
//  }
//
//  .catalog {
//    width: 65%;
//
//    &__item {
//      width: 45%;
//    }
//  }
//}
//
//@media (max-width: 575px) {
//  .filters {
//    width: 40%;
//  }
//
//  .catalog {
//    width: 55%;
//
//    &__item {
//      width: 90%;
//    }
//  }
//}
